body {
  margin: 0;
  font-size: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 2em;
}

.register {
  color: #99e420;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.toast-description {
  color: #505050;
  font-size: 1rem;
  margin-top: 0;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  color: #505050;
  margin: 0;
}
strong {
  font-weight: 700;
}
.main-intro {
  background-image: url(../image/egg.jpg);
  background-color: #464646;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
}
.main-content {
  padding: 2em 1em;
}

/* 
----------------------------------

The media screens will be set below 

----------------------------------
*/
